<ul class="navbar-nav">
    <li><a class="nav-link active" aria-current="page" asp-action="Index" asp-controller="Account">Home</a></li>
    <li><a class="nav-link active" aria-current="page" asp-action="Register" asp-controller="Account">Register</a></li>
</ul>
