@model bool
@{
    if(Model)
    {
      <ul class="navbar-nav">
          <li><a class="nav-link active" aria-current="page" asp-action="Index" asp-controller="Home">Home</a></li>
          <li class="ms-auto"><a class="nav-link" aria-current="page" asp-action="Logout" asp-controller="Account">Log out</a></li>
      </ul>
    }
    else
    {
      <ul class="navbar-nav">
          <li><a class="nav-link active" aria-current="page" asp-action="Index" asp-controller="Account">Home</a></li>
          <li><a class="nav-link active" aria-current="page" asp-action="Register" asp-controller="Account">Register</a></li>
      </ul>
    } 
}